$light-color: #E8E2E2;
$secondary-color: #E8D2AE;
$third-color: #D7B29D;
$fourth-color: #CB8589;
$dark-color: #796465;
$font-header: "Lucida Handwriting";

*{
    display: block;
}

.logo {
    border: 5px double $dark-color;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    height: auto;
    width: 20%;
}


h1, h2 {
    font-family: $font-header;
}
.nav{
    margin: 0;
    padding: 0;

    & .links{
        color: $dark-color;
        font-size: larger;
        display: flex;
        justify-content: center;
        }

    & a{
        color: $dark-color;
        margin: 5px;
        }
  
}

.gallery{
    & ul {
        display: flex;
        flex-wrap: wrap;
    }
    & li {
        height: 40vh;
        flex-grow: 1;
        margin: 2%;
    }
    & img{
        max-height: 100%;
        min-width: 100%;
        object-fit: cover;
        vertical-align: bottom;
    }
}



body {        
    background-color: white;

}