<Nav-bar />
<Jumbo />
  <h2>About Me</h2>
  <img src="https://scontent-msp1-1.xx.fbcdn.net/v/t39.30808-6/215435862_802609750303045_1453917398482573844_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=sEZ7c1_2CvkAX-1WJnq&_nc_ht=scontent-msp1-1.xx&oh=e0c7de14a0b326ff49734d6d9a8073bb&oe=61A04E0C" alt="Selfie of Maribel">
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi quae aspernatur voluptate explicabo autem nesciunt minima, cumque nobis eius, incidunt, voluptatem quaerat inventore! Itaque laboriosam voluptates sed culpa sapiente commodi!
  </p>
